body {
  background-image: url(https://images.unsplash.com/photo-1464245254346-067e4f8baaf2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=f69ed70aee1b54337a66c766a0e85906);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(220,220,220);
}


p {
  margin-top: 10px;
}


img {
  width: 12em;
  height: 10em;
  border-radius: 10px;
}


.row {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


.sidebar {
  color: rgb(220,220,220);
  font-family: "Libre Franklin", sans-serif;
}


.thumbnail-pic {
  max-width: 125px;
  max-height: 100px;
  margin: 0 auto
}


.icon {
  color: rgb(220,220,220);
  text-decoration: none;
}


.row {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


.glyphicon-th {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

#thumbnail {
  margin-top: 20px;
}


#button-row {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}


#logo {
  color: rgb(220,220,220);
  font-family: "Permanent Marker", cursive;
  font-size: 70px;
  margin-bottom: 400px;
}
